@font-face {
    font-family: 'MMR';
    src: url('./fonts/MartianMono-Regular.ttf') format('woff2');
    font-style: normal;
}
@font-face {
    font-family: 'MMB';
    src: url('./fonts/MartianMono-Bold.ttf') format('woff2');
    font-style: normal;
}
@font-face {
    font-family: 'MMM';
    src: url('./fonts/MartianMono-Medium.ttf') format('woff2');
    font-style: normal;
}
p{
    margin: 0;
}
h1{
    font-size: 20px;
    font-style: normal;
    font-family: 'MMB';
}
body{
    margin: 0 auto;
    /* background: rgb(124, 54, 255); */
    font-family: 'MMR';
}
header{
    display: flex;
}
.wrapper{
    margin: 20px auto;
    max-width: 600px;
}
.avatar{
    width: 200px;
}
img{
    width: 100%;
}
.cropped-gif {
    width: 100%;
    height: 300px;
    object-fit: cover; 
    object-position: center; 
}
main{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
footer{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px 0;
}
@media screen and (max-width: 610px) {
    .wrapper{
        padding: 0px 12px;
    }
    body{
        font-size: 12px;
    }
    h1{
        font-size: 16px;
    }
    .avatar{
        width: 150px;
    }
}